:root {
  --gray-color: #808080;
  --font-family: 'Space Mono', monospace;
  --font-weight: 600;
  --padding-small: 1rem;
  --padding-large: 4rem;
}

* {
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: var(--padding-small);
}
.namebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0;
  gap: 2rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #808080;
}
.d-parag {
  color: var(--gray-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-transform: uppercase;
  text-align: left;
  font-size: clamp(1.2rem, 2vw, 2.8rem);
  line-height: clamp(1.5rem, 3vw, 3.5rem);
  letter-spacing: 3px;
}

.name-text {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-transform: uppercase;
  text-align: left;
  color: var(--gray-color);
  font-size: clamp(3rem, 9vw, 12rem);
  line-height: clamp(2.5rem, 6vw, 7rem);
  letter-spacing: 3px;
  padding: var(--padding-small);
}

.flexible-texts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 33%;
}

.text-container.center {
  align-items: center;
  text-align: center;
}

.text-container.right {
  align-items: flex-end;
  text-align: right;
}

.small-text {
  font-family: var(--font-family);
  font-size: 12px;
  color: var(--gray-color);
  line-height: 1;
}

.one {
  color: rgb(85, 26, 139);
}

@media screen and (max-width: 1200px) {
  .namebox {
    gap: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .home-left {
    width: 100%;
  }

  .name-text {
    font-size: clamp(3rem, 4vw, 8rem);
    line-height: clamp(4rem, 5vw, 7rem);
    padding-bottom: 3rem;
  }

  .d-parag {
    font-size: clamp(3rem, 4vw, 5rem);
    line-height: clamp(2.6rem, 4vw, 4rem);
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    padding: var(--padding-small);
  }
  .home-left {
    padding: 0;
  }
  .name-text {
    font-size: 3rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    padding: 0;
    letter-spacing: 5px;
  }

  .d-parag {
    font-size: 2rem;
    line-height: 1.8rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 321px) {
  .name-text {
    font-size: 2.2rem;
    line-height: 1.8rem;
  }

  .d-parag {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .name-text {
    font-size: 7rem;
    line-height: 7rem;
  }
  .d-parag {
    font-size: 4rem;
    line-height: 3.5rem;
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .d-parag {
    font-size: 6rem;
    line-height: 5rem;
    padding-bottom: 3rem;
  }
  .name-text {
    font-size: 12rem;
    line-height: 9rem;
    padding-bottom: 8rem;
    letter-spacing: 10px;
  }
}

@media screen and (min-width: 2550px) {
  .home-container {
    padding: var(--padding-large);
  }

  .name-text {
    font-size: 15rem;
    line-height: 11rem;
  }

  .d-parag {
    font-size: 7rem;
    line-height: 6rem;
  }
}
