:root {
  --gray-color: #808080;
  --yellow-color: #f1c40f;
  --red-color: #d92d2b;
}

.icon-links-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  text-decoration: none;
  transition:
    transform 0.2s ease,
    stroke 0.3s ease;
}

.icon-link svg {
  width: 34px;
  height: 34px;
  fill: none;
  stroke: var(--gray-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon-link:hover svg {
  transform: scale(1.1);
  stroke: rgb(85, 26, 139);
}
@media screen and (min-width: 2550px) {
  .icon-link svg {
    width: 100px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .icon-links-container {
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    z-index: 10;
    background-color: transparent;
  }
}
@media screen and (max-width: 480px) {
  .icon-links-container {
    right: 20px;
    bottom: 20px;
    position: relative;
  }

  .icon-link svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 376px) {
  .icon-links-container {
    right: 20px;
  }
}
