:root {
  --gray-color: #808080;
  --red-color: #d92d2b;
  --yellow-color: #f1c40f;
  --font-family: "Space Mono", monospace;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.section-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-weight: 600;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--gray-color);
  border: none;
  background: none;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.section-button:hover {
  color: var(--red-color);
  transform: scale(1.1);
}

.button-label {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .section-button {
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .sidebar {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    width: auto;
  }
}
@media screen and (min-width: 2550px) {
  .section-button {
    padding: 0.5rem 2rem;
  }
  .button-label {
    font-size: 1.5rem;
  }
}
