html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

/* Common Container Styles */
.slider-container,
.reverse-slider-container {
  width: 400vw; /* Adjusted to match the number of panels */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
/* black container text styles */
.center-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255, 255, 255);
}

.inner-container {
  background: rgb(0, 0, 0);
  width: 100vw;
  padding: 2rem 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 50px;
}
.lastContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightgray;
}

/* Panel Styles */
.panel,
.reverse-panel {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 50px;
  padding: 20rem;
}

/* Background Colors */
.blue {
  background: blue;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.green {
  background: #22b527;
}

.grey {
  background: #4a4a4a;
}

.rose {
  background: #b686a6;
}

/* Reverse Slider Specific Styles */
.reverse-slider-container {
  width: 300vw; /* Adjusted based on the number of panels */
  display: flex;
  flex-direction: row-reverse; /* Ensures reverse alignment */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .slider-container,
  .reverse-slider-container {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .panel,
  .reverse-panel {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  .center-text-container,
  .lastContainer {
    height: auto;
    padding: 20px;
  }
}
