@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0;
  position: relative;
}

* {
  box-sizing: border-box;
}
.slider-container {
  width: 200vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

.panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400vw;
  height: 100vh;
  background: #b686a6;
}

.inner-container {
  background: rgb(0, 0, 0);
  width: 100vw;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.last-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 10vh;
}
.panel {
  width: 70vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55, 2, 0);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 50px;
  padding: 0.5rem;
}

.panel .prog {
  color: #c80000;
}
.rose-container {
  background: #b686a6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 150vw;
  padding: 5rem 1rem 1rem 20rem;
  gap: 5rem;
}
.rose {
  color: rgb(55, 2, 0);
  width: 30vw;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  break-inside: avoid;
}
.to-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  color: #808080;
  background: none;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.to-top-button:hover {
  color: var(--red-color);
  transform: scale(1.1);
}
.to-top-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  box-sizing: border-box;
  padding: 2rem;
}
.text {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 60px;
}

.textbox {
  padding: 0 2rem;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  text-transform: uppercase;
}

.marquee-container {
  gap: 0.8rem;
}

.rfm-marquee-container {
  overflow-x: visible !important;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 1rem;
  flex: 1;
}

.contact-me-text {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  color: #808080;
  font-size: 0.5rem;
  display: flex;
  flex-direction: row;
  letter-spacing: 3px;
  align-items: flex-end;
}
@media screen and (max-width: 1439px) {
  .text {
    letter-spacing: 10px;
    font-size: 35px;
  }
  .panel {
    width: 100%;
    font-size: 25px;
  }
  .rose {
    padding: 5rem;
    color: rgb(55, 2, 0);
    background: #b686a6;
  }
  .center-container {
    justify-content: flex-start;
    min-height: auto;
  }

  .title-container {
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {
  .slider-container {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .panel {
    width: 100%;
    font-size: 25px;
  }

  .rose {
    padding: 1rem;
    color: rgb(55, 2, 0);
    background: #b686a6;
  }

  .to-top-button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .text {
    font-size: 20px;
  }

  .panel {
    font-size: 11px;
    text-align: left;
    padding: 3rem;
  }

  .rose {
    padding: 3rem 2rem;
  }

  .to-top-button {
    font-size: 0.5rem;
    padding-left: 2px;
  }

  .center-container {
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 376px) {
  .text {
    font-size: 10px;
    letter-spacing: 3px;
  }

  .slider-container {
    height: auto;
    text-align: center;
  }

  .cards {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .contact-me-text {
    font-size: 0.8rem;
  }

  .rose-container {
    font-size: 18px;
    padding: 5rem;
  }

  .title-container {
    height: 40vh;
  }
}
@media screen and (min-width: 1200px) {
  .panel {
    height: auto;
    padding: 5rem;
    font-size: 45px;
  }

  .text {
    letter-spacing: 20px;
    font-size: 80px;
  }
}
@media screen and (min-width: 2550px) {
  .cards-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }

  .panel {
    padding: 20rem;
  }
}

/* Color utility classes for text */
.header-grey {
  color: #888888;
}
.secondary-grey {
  color: #b0b0b0;
}
.red-text {
  color: #e53935;
}
.lightest-grey {
  color: #cccccc;
}
