@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

.slider-container {
  width: 300vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}
.panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400vw;
  height: 100vh;
  background: #b686a6;
}

.cards {
  height: auto;
  gap: 2rem;
}
#start {
  justify-content: start;
  gap: 1rem;
}
#mobile {
  min-height: 10vh;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 10vh;
}
.to-top-button {
  padding: 10px;
}
.marquee-container {
  gap: 0.8rem;
}

.rfm-marquee-container {
  overflow-x: visible !important;
}
.textbox {
  padding: 0 2rem;
}

.textbox {
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  text-transform: uppercase;
}
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 1rem;
  flex: 1;
}
.contact-me-text {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  color: #808080;
  font-size: 0.5rem;
  display: flex;
  flex-direction: row;
  letter-spacing: 3px;
  align-items: end;
}

.inner-container {
  background: rgb(0, 0, 0);
  width: 100vw;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 60px;
}
.panel .prog {
  color: #c80000;
}

.panel {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55, 2, 0);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 50px;
  padding: 0.5rem;
}

.rose {
  background: #b686a6;
  padding: 2rem;
}

.to-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}

.to-top-button {
  display: flex;
  padding-left: 2rem;
  font-size: 10px;
  border: none;
  font-weight: 600;
  color: #808080;
  background: none;
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.to-top-button:hover {
  color: var(--red-color);
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  .text {
    letter-spacing: 10px;
    font-size: 35px;
  }
  .panel {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: left;
    font-size: 35px;
    padding: 15rem;
  }
  .rose {
    padding: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .slider-container {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .panel {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
  }
  .rose {
    padding: 3rem;
  }
  .cards {
    gap: 5rem;
    padding-top: 3rem;
  }
  .center-container {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  #mobile {
    min-height: 50vh;
  }
  .to-top-button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .text {
    font-size: 20px;
  }
  .panel {
    font-size: 11px;
    text-align: left;
  }
  .rose {
    padding: 2rem;
  }
  .cards {
    padding: 2rem;
  }
  .slider-container {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  #mobile {
    min-height: 10vh;
  }
  .to-top-button {
    font-size: 0.5rem;
  }
  .center-container {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 376px) {
  .text {
    font-size: 10px;
    letter-spacing: 3px;
  }

  .slider-container {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  .cards {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .panel {
    width: 100%;
    height: auto;
    padding: 10rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 55px;
  }

  .inner-container {
    padding: 1.5rem;
  }

  .text {
    letter-spacing: 20px;
    font-size: 80px;
  }
}
@media screen and (min-width: 768px) {
  .contact-me-text {
    font-size: 0.8rem;
  }
  .contact-me {
    padding: 1rem;
  }
  .rose {
    font-size: 18px;
    padding: 5rem;
    text-align: left;
  }
  .title-container {
    height: 50vh;
  }
}
@media screen and (min-width: 2550px) {
  .cards {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
  .panel {
    padding: 20rem;
  }
}
